@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body
{
display: flex;
min-height: 100vh;
color: rgb(45, 14, 180);
}

h1
{
    position: center;
    color: rgb(43, 37, 37);
    text-transform: uppercase;
}
ul
{
    position: relative;
    transform:  skewY((-5deg));
}


ul li
{
    position: relative;
    list-style: none;
    width: 200px;
    background: #3e3f46;
    padding: 15px;
}

ul li:hover
{
    background: #0b86d9;
    transform: translateX(50px);
}

ul li a
{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

ul li:hover a
{
    color: rgb(16, 16, 16);
}